<div id="messages"></div>
<div id="variables">
  <script>
    document.body.messages = <%= @topic.messages.to_json.html_safe %>;
    document.body.topic = <%= @topic.to_json.html_safe %>;
  </script>
</div>

<%= react_component('Messages') %>

