// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-enter {
  opacity: 0.01;
}

.message-enter.message-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.message {
  display: block;
  width: 400px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  margin-bottom: 5px;
  padding: 4px;
  .author {
    color: #8a8a8a;
  }
  .content {
    color: #4a4a4a;

  }
}
