// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-enter {
  opacity: 0.01;
}

.message-enter.message-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.message {
  display: block;
  width: 400px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  margin-bottom: 5px;
  padding: 4px;
  min-height: 42px;
  .gravatar {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .content {
    color: #4a4a4a;
  }
}
